<span style='color: #000' title='Frames'>   253</span><span style='color: #009' title='Memory'>  73728.00 KB</span><span style='color: #900' title='Time'>   1146.06 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />